html,body{
min-height:100%;
width:100;
margin:0;
padding:0;
overflow-x:hidden;
}
body{
background:#F0F2EC;
color:black;
background repeat:no-repeat;
background-attachment:fixed;
background-position:center center;
background-size:cover;
display:flex;
flex-direction:column;
margin:0;
box-sizing:border-box;
}
.finds{
position:relative;
top:13%;
font-size:20px;
font-family: Arial Black,Arial Rounded MT Bold, Baskerville;
color:#583E30;
}
.Viewbutton{
display:inline-flex;
padding:7px;
padding-left:8%;
width:30%;
background:#43150B;
border:none;
outline:none;
border-radius:12px;
overflow:hidden;
font-family:Baskervville SC, Modern N0.20, Americana BT;
font-size:15px;
color:#FDF5E6;
position:absolute;
top:110%;
left:36%;
cursor:pointer;
}

@keyframes appear{
from{
opacity:0;
scale:0.5;
}
to{
opacity:1;
scale:1;
}
}
@keyframes fade-left{
0%{
opacity:0;
transform:translateY(30px) scale(0.9);
}
100%{
opacity:1;
transform:translateY(0px) scale(1);
}
}
.container{
width:70vmin;
position:absolute;
left:50%;
top:80%;
transform:translate(-50%,-50%);
overflow:hidden;
border:10px white;
box-shadow:0px 2px 1px grey;
}
.wrapper{
width:100%;
display:flex;
animation: slide 14s infinite;
}
@keyframes slide{
0%{
transorm:translateX(0);
}
25%{
transform:translateX(0);
}
30%{
transform:translateX(-100%);
}
55%{
transform:translateX(-100%);
}
70%{
transform:translateX(-200%);
}
100%{
transform:translateX(-200%);
}
}
img{
width:100%;
}
@font-face{
  font-family:'myFont';
  src:url(fonts/Body Rock.ttf);
}
#shopfor{
font-family:Arial Black;
font-size:23px;
position:absolute;
top:115%;
left:32%;
color:#613623;
}
.categorybuttons{
position:absolute;
top:127%;
left:4%;
font-size:25px;
background-color:white;
border:6px;
border-radius:70px;
width:70%;
padding:10%;
padding-bottom:20%;
padding-left:13%;
}
.footwearbutton{
display:inline-flex;
padding:6px;
padding-left:4%;
padding-bottom:23px;
width:20%;
height:3.5%;
background:#D2D4D3;
border:none;
outline:none;
border-radius:15px;
overflow:hidden;
font-family:Baskervville SC, Modern N0.20, Americana BT;
font-size:12px;
color:#021607;
position:absolute;
top:140%;
left:13%;
cursor:pointer;
}
.clothingbutton{
display:inline-flex;
padding:7px;
padding-left:4%;
padding-bottom:22px;
width:20%;
height:3.5%;
background:#D2D4D3;
border:none;
outline:none;
border-radius:15px;
overflow:hidden;
font-family:Baskervville SC, Modern N0.20, Americana BT;
font-size:12px;
color:#021607;
position:absolute;
top:140%;
left:40%;
cursor:pointer;
}
.accessoriesbutton{
display:inline-flex;
padding:6px;
padding-left:3%;
padding-bottom:23px;
width:23%;
height:3.5%;
background:#D2D4D3;
border:none;
outline:none;
border-radius:15px;
overflow:hidden;
font-family:Baskervville SC, Modern N0.20, Americana BT;
font-size:12px;
color:#021607;
position:absolute;
top:140%;
left:65%;
cursor:pointer;
}
.header{
position:fixed;
top:0;
left:0;
width:100%;
padding:20px 18px;
padding-top:30px;
background:#233B06;
display:flex;
justify-content:space-between;
align-items:center;
z-index:100;
}
.navbar a{
font-size:14px;
font-family:Arial Black;
color:#E7EBDD;
text-decoration:none;
margin-right:20px;
}
.navbar a:hover{
background-color:#062605;
padding:8px;
padding-bottom:20px;
padding-left:20px;
padding-right:20px;
}
.section-p1{
padding:60px 0px;
}
.section-p2{
padding:-200px 0px;
}
#product1{
text-align:center;
font-family:Arial black;
color:#583E30;
}
#product1 .pro-container{
display:flex;
justify-content:space-between;
padding:8px;
}
#product1 .pro{
width:16%;
min-width:160px;
padding:3px 7px;
padding-bottom:0px;
background:white;
color:#583E30;
border:2px solid #DADBDA;
border-radius:5px;
cursor:pointer;
box-shadow:1px 1px 2px grey;
transition:0.2s ease;
}
#product1 .pro img{
width:100%;
border-radius:5px;
}
#product1 .pro .des{
text-align:start;
padding:1px 0;
}
#product1 .pro .des h4{
font-size:15px;
}
#product1 .pro .des h3{
padding-top:0px;
font-size:20px;
}
#product2{
text-align:center;
font-family:Arial black;
}
#product2 .pro .des h3{
padding-top:0px;
font-size:20px;
}
#product2 .pro .des h4{
font-size:15px;
}
#product2 .pro .des{
text-align:start;
padding:1px 0;
}
#product2 .pro img{
width:100%;
border-radius:5px;
}
#product2 .pro{
width:16%;
min-width:160px;
padding:4px 7px;
padding-bottom:0px;
background:white;
color:#583E30;
border:2px solid #DADBDA;
border-radius:5px;
cursor:pointer;
box-shadow:1px 1px 2px grey;
transition:0.2s ease;
}
#product2 .pro-container1{
display:flex;
justify-content:space-between;
padding:9px;
}
.homebutton{
display:inline-flex;
padding:7px;
padding-left:2%;
width:21%;
background:#43150B;
border:none;
outline:none;
border-radius:12px;
overflow:hidden;
font-family:Baskervville SC, Modern N0.20, Americana BT;
font-size:15px;
color:#FDF5E6;
position:absolute;
top:157%;
left:39%;
cursor:pointer;
}
.greenhead{
font-size:20px;
background:#211605;
padding-left:20%;
color:white;
padding:1px;
position:absolute;
top:152%;
right:0%;
left:0%;
}
.green{
font-size:25px;
background:#211605;
width:90%;
padding-left:10%;
color:white;
padding-top:30px;
padding-bottom:60px;
position:absolute;
top:160%;
right:0%;
left:0%;
}
.wordsingreen{
font-size:9.8px;
background:#211605;
width:100%;
color:white;
padding-top:10px;
padding-bottom:80px;
padding-left:3px;
padding-right:0px;
position:absolute;
top:172%;
right:0%;
left:0%;
}
footer{
margin-top:auto;
background:#211605;
padding-top:0px;
padding-bottom:40px;
font-family:monospace;
font-size:12px;
position:absolute;
top:183%;
right:0%;
left:0%;
text-decoration:none;
color:white;
}
footer a{
text-decoration:none;
color:#D6CEC2;
}
footer a:hover{
color:grey;
}
#productdetails .single-pro-details{
width:50%;
padding-top:5px;
}
#productdetails .single-pro-image{
width:85%;
margin-left:30px;
}
#productdetails .single-pro-details h1{
line-height:27px;
padding-left:20px;
padding-top:0px;
font-size:30px;
width:100%;
font-family:Arial Black;
}
#productdetails .single-pro-details h4{
padding-left:95px;
padding-top:5px;
font-size:15px;
font-family:Arial Black;
width:100%;
line-height:25px;
}
#productdetails .single-pro-details h2{
line-height:28px;
padding-left:100px;
padding-top:0px;
font-size:30px;
font-family:Arial Black;
width:100%;
}
#productdetails .single-pro-details h5{
padding-left:160px;
padding-top:5px;
font-size:19px;
width:100%;
}
.backbutton{
display:inline-flex;
padding:19px;
width:100%;
background:#233B06;
border:none;
outline:none;
overflow:hidden;
font-family:Baskervville SC, Modern N0.20, Americana BT;
font-size:15px;
color:#FDF5E6;
position:absolute;
top:0%;
left:0%;
cursor:pointer;
}
.buybutton{
display:inline-flex;
padding:7px;
padding-left:2%;
width:19%;
background:#43150B;
border:none;
outline:none;
border-radius:12px;
overflow:hidden;
font-family:Baskervville SC, Modern N0.20, Americana BT;
font-size:15px;
color:#FDF5E6;
position:absolute;
top:148%;
left:40%;
cursor:pointer;
}
.viewbutton{
display:inline-flex;
padding:7px;
padding-left:2%;
width:85%;
background:#43150B;
border:none;
outline:none;
overflow:hidden;
font-family:Baskervville SC, Modern N0.20, Americana BT;
font-size:15px;
color:#FDF5E6;
position:absolute;
top:72%;
left:8%;
cursor:pointer;
}
.instagram{
display:inline-flex;
height:25px;
width:25px;
padding:5px;
background:#211605;
border:none;
outline:none;
border-radius:50%;
overflow:hidden;
font-family:Georgia;
color:white;
position:absolute;
top:170%;
left:49%;
cursor:pointer;
}
.g-pay{
font-size:35px;
}
#view-all{
width:90%;
margin-left:18px;
position:absolute;
top:55px;
}
